.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1900px;
    background-color: brown;
    
}
body{
    flex-direction: column;
    align-items: center;  
}


.logo{
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

.texto-sup {
    padding: 10px 110px;
    color: wheat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    flex-grow: 1;
    width: 50%;
    
}
.login{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    background-color: #FF7F50;
    width: 100px;
    height: 60px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    top: 22;
    left: 350;
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    align-items: center;
}
.cardapio{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    background-color: #FF7F50;
    width: 100px;
    height: 60px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    top: 22;
    left: 500;
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    align-items: center;
} 
.ajuda{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    background-color: #FF7F50;
    width: 100px;
    height: 60px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    top: 22;
    left: 650;
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    
}

 a:hover {
    background-color: red;
    transition: background-color 0.6s ease  
}
.carrin{
   position: absolute; 
   background-color: gray;
   top: 8;
   left: 1820;
   height: 88px;
   cursor: pointer;
   display: flex;
   text-align: center;
   justify-content: center;
   text-decoration: none;
   align-items: center;

}

.fim{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 150%;
    background-color: 	FF7F50;
    margin: 10px auto;
    width: 15%;
    height: 7,5%;
    border-radius: 25px;
 
}

.titulo{
    text-align: center;
    padding: 20px 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 200%;
    background-color: E9967A;
    margin: 10px auto;
    border-radius: 50px;
    width: 20%;
    
}
